
body,html {
    height:100%;
    margin: 0;
    border: 3px solid #908CB1;
    background-color: #BBC6D9;/*aliceblue?*/
}
#page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc_Login {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 15px;
    width:fit-content;
    border-radius: 12px;
    box-shadow: 0px 10px 25px 0px #908CB1;
    border: 3px solid #908CB1;
    background-color: white;
    float: right;

}
#creerCompte{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color:#5D3B78;
}
#bloc_colonne{
  display: flex;
  flex-direction: column;
}

#bloc_placement{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -15%;
}
#bloc_Connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 15px;
  width:fit-content;
    margin-bottom: auto;
  padding-right: 8%;
}
#bloc_Image{
  display: flex;
  margin-top: 0px;
  width: 150px;
height: 200px;
}
#bloc_Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 15px;
  width:fit-content;
  border-radius: 12px;
  box-shadow: 0px 10px 25px 0px gray;
border: 3px solid #B85985;
  background-color: white;
  margin-bottom: auto;
}
#bloc_Noms{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
  padding: 15px;
  width:fit-content;
  border-radius: 12px;
  box-shadow: 0px 10px 25px 0px gray;
  border: 3px solid #EF5C76;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.Colonne{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color:#5D3B78;
    border: none;
    color: white;
    margin-left: 50%;
    padding: 16px;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:#908CB1 ;
  }
  input[type=text],input[type=date],input[type=number],input[type=password], select {
    padding: 12px 20px;
    margin: 4px 0;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #goublie {
    padding: 10px 10px;
    margin: 4px 0;
    margin-left: 30px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color:#5D3B78;
  }
  #goublie:hover {
    color:rgb(153, 125, 175);
  }

  #loginError {
    margin-top: 40px;
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(104, 54, 54);
  }
  #logoutSuccess {
    margin-top: 40px;
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(61, 136, 92);
  }

  .slideshow {
     width: 200px;
     height: 250px;
     overflow: hidden;
     border: 3px solid #F2F2F2;
  }

  .slideshow ul {
      /* 4 images donc 4 x 100% */
     width: 400%;
     height: 200px;
     padding:0; margin:0;
     list-style: none;
  }
  .slideshow li {
     float: left;
  }

  .boutonSpoiler{
    border-radius: 8px;
  }
